<h1 id="tableLabel">Manage people registration</h1>

<p>This component demonstrates Manage people registration integrated with .Net, ASP.Net and PSQL.</p>

<p *ngIf="!persons"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="persons">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>CPF</th>
      <th>Income</th>
      <th>Date of birth</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.cpf }}</td>
      <td>{{ person.income }}</td>
      <td>{{ person.birthDate }}</td>
      <td><button (click)="delete(person.id)" > <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg> </button></td>
    </tr>
  </tbody>
</table>
